.idea/
**/checkpoints/

**/notebooks/
**/.gitkeep
**/images/
**/README.md
demo.py
demo_camera.py
**/pytorch-openpose/model/
**/pytorch-openpose/requirements.txt
/models/pretrained_model/

.DS_Store

*.sh
**/scropt/
**/models/
